---
import { Image } from 'astro:assets';

const images = import.meta.glob("../../assets/*");

interface Props {
    imgSrc: string;
    altText: string;
	imageID: string;
	service: any;
}

const { 
    imgSrc, 
    altText, 
	imageID,
	service
} = Astro.props;

if (!images[imgSrc]) throw new Error(`"${imgSrc}" does not exist in glob: "../../assets/*"`);
---
<div class="body-image-container">
	<Image src={import(imgSrc)} alt={altText}  id={imageID} class="image"/>
</div>
<div class="body-text-container">
	<span>{service?.header}</span>
	<ul>
		{service?.body.map((bullet, index) => (
			<li key={index}>{bullet}</li>
		))}
	</ul>
</div>




<style>
	.body-image-container {
		display: flex;
		flex-direction: column;
		width: 60%;
		
		padding: 2rem;
		justify-content: center;
		overflow: hidden;
		border: 1px solid transparent;
		border-radius: 2rem;
		border: 1px solid transparent;
		border-radius: var(--theme-shape-radius);

		& .image {
			display: flex;
			width: 100%;
			height: auto;
			min-height: 400px;
		}
	}

</style>