---
import ContactForm from '../../components/forms/ContactForm.astro';
import Layout from '../../layouts/Page.astro';
import { Container } from '@components/odyssey-theme';
import GoogleContactForm from '../../components/forms/GoogleContactForm.astro'
import QuoteButton from '@components/buttons/QuoteButton.astro';
import settings from '../../config/settings';

const seo = {
	title: 'Contact | Myco',
	description: 'Contact Page',
};

const logo = settings.logo;
const phone = settings.phone;
const email = settings.email;


---

<Layout {seo}>
	<Container>
		<section class="contact-hero__section">
			<h1>Contact Us</h1>
			<div class="contact-hero__text-section">


				<div id="text-top">
					
					<div>
						
						<img src={logo} height="100" alt="Man holding up scaffolding and the globe">
						
						<a href={`tel:${phone}`}>{phone}</a>
						
						<a href={`mailto:${email}`}>{email}</a>
					</div>
				</div>
				<!-- <div id="text-bottom">
					<p> Looking for a Quote? <QuoteButton/>	</p>
				</div> -->
			</div>
			<!-- <div class="col-2__container">
				<GoogleContactForm />
				<ContactForm /> 
			</div> -->
		</section>
	</Container>
</Layout>

<style>
	.contact-hero__section {
		margin: var(--section-margin) auto;
		height: 80vh;
		width: 50%;
		gap: 3rem;
		& h1 {
			text-align: center;
		}
	}
	.contact-hero__text-section {
		padding: 2rem;
		display: flex;
		height: 50%;
		flex-direction: column;
		justify-content: center;
		background-color: var(--theme-surface-1);
		border-radius: var(--theme-shape-radius);
		& #text-top{
			display: flex;
			flex-direction: column;
			justify-content: space-evenly	;
			height: 100%;
			& div{
				display: flex;
				flex-direction: column;
				height: 50%;
				justify-content: space-evenly;
				align-items: center;
			}
		}
		& #text-bottom{
			height: 20%;
		}
	}
	.col-2__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: auto;
	}
	@media (max-width: 768px) {
		.contact-hero__section {
			grid-template-columns: 1fr;
		}
	}
</style>
