---
import Layout from '../../layouts/Page.astro';
import ProjectCard from '../../components/cards/ProjectCard.astro';
import projects from '../../data/projects.json'

const defaultUser = 'https://www.svgrepo.com/show/425240/users-avatar.svg'
const missingImage = 'https://www.svgrepo.com/show/366275/missing-image.svg'

const seo = {
	title: 'Projects | Myco',
	description: 'Some of Our Projects',
};

const projectsFallback = [
	{
		id: '1', 
		title: '!!!_No_Projects_Found_!!!',
		thumb: {
			id: '2',
			title: '!!!_No_Projects_Found_!!!',
			url: missingImage,
		},
		content:{
			description: '!!!_No_Projects_Found_!!!',
			photos:[
				{
					id: '3',
					title: '!!!_No_Projects_Found_!!!',
					url: missingImage,
				},
				{
					id: '4',
					title: '!!!_No_Projects_Found_!!!',
					url: missingImage,
				}
			]
		}
	}
]

	const projectsArray = projects.length >= 1 ? projects : projectsFallback
---

<Layout {seo}>

	<!-- <ProjectsModal content={projects[0]} /> -->
	<div id="project-cards-container">
		{projectsArray.map((project, index) => (
			<ProjectCard project={project} index={index} testimonial={project?.content?.tesitmonial}/>
		))}
	</div>
</Layout>  



<style>
	#project-cards-container {
		display: flex;
		flex-direction: row;
		width: 100%;
		min-width: 450px;
		gap: 2rem;
		padding: 2rem 0px;
		height: max-content;
		flex-wrap: wrap;
	}
	@media (width >= 800px) {
		#project-cards-container {
			gap: 1.5rem;
			padding: 2rem 0px;
		}
	}
	@media (width <= 800px) {
		.project-card {
			min-width: 430px;
		}
		#project-cards-container {
			gap: 1.5rem;
			height: 40%;
			padding: 2rem 0px;
		}
	}
	@media (width <= 450px) {
		#project-cards-container {
			padding: 2rem 0.3rem;
		}
	}
</style>
