---
import Layout from '../../layouts/Page.astro';
import ProjectCard from '../../components/cards/ProjectCard.astro';

const seo = {
	title: 'About | Myco',
	description: 'About Page',
};
const projOneIMG = 'https://images.pexels.com/photos/379960/pexels-photo-379960.jpeg';
const projOneTitle = 'Project one Title'
const projOneLink = '/company/contact'

const projTwoIMG = 'https://images.pexels.com/photos/17346602/pexels-photo-17346602/free-photo-of-worker-climbing-steel-ladder.jpeg'
const projTwoTitle = 'Project Two Title';
const projTwoLink = '/company/contact'

const projThreeIMG = 'https://images.pexels.com/photos/17745340/pexels-photo-17745340/free-photo-of-construction-workers-standing-on-the-scaffolding-outside-of-a-building-in-city.jpeg'
const projThreeTitle = 'Project Three Title';
const projThreeLink = '/company/contact'

---

<!-- 
  - Three project cards horizontal aligned
  - projectCard contains:
    - one image filling top 50% of card
    - project title
    - button
  :::::::::: On Button Click :::::::::::::
    - open modal and populate with project modal hero
   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  
 -->

<Layout {seo}>
  <div id="project-cards-container">
    <ProjectCard image={projOneIMG} title={projOneTitle} canonicalURL={projOneLink}></ProjectCard>
    <ProjectCard image={projTwoIMG} title={projTwoTitle} canonicalURL={projTwoLink}></ProjectCard>
    <ProjectCard image={projThreeIMG} title={projThreeTitle} canonicalURL={projThreeLink}></ProjectCard>
  </div>
</Layout>


<style>
  #project-cards-container {
      display: flex;
      flex-direction: row;
      width: 100%;
      min-width: 450px;
      gap: 2rem;
      padding: 2rem 0px;
      height: max-content;
      flex-wrap: wrap;

  }
  @media (width >= 800px) {
    #project-cards-container {
      gap: 1.5rem;
      padding: 2rem 0px;
    }
  }
  @media (width <= 800px) {
    #project-cards-container {
      gap: 1.5rem;
      padding: 2rem 0px;
    }
  }
  @media (width <= 450px) {
    #project-cards-container {
      padding: 2rem 0.3rem;
    }
  }
  </style>